USE [master]
GO
/****** Object:  Database [Game]    Script Date: 23.05.2026 03:11:21 ******/
CREATE DATABASE [Game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Game', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Game_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Game]
GO
/****** Object:  Table [dbo].[Oyun]    Script Date: 23.05.2026 03:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyun](
	[oyunadi] [nvarchar](50) NULL,
	[oyunid] [smallint] NOT NULL,
	[kar] [int] NULL,
	[gelistirici_firma] [nvarchar](50) NULL,
	[incelemepuani] [tinyint] NULL,
	[yayinci] [nvarchar](50) NULL,
	[tür] [nvarchar](50) NULL,
	[çıkış_tarihi] [date] NULL,
	[DLC] [nvarchar](50) NULL,
 CONSTRAINT [PK_Oyun_ID] PRIMARY KEY CLUSTERED 
(
	[oyunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fiyat]    Script Date: 23.05.2026 03:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiyat](
	[platform_id] [smallint] NULL,
	[platfrom_name] [nvarchar](30) NULL,
	[oyun_fiyatı] [float] NULL,
	[parabirimi] [nvarchar](10) NULL,
	[oyun_id] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platform]    Script Date: 23.05.2026 03:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platform](
	[platform_id] [tinyint] NOT NULL,
	[platform_adi] [nvarchar](29) NULL,
PRIMARY KEY CLUSTERED 
(
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_oyunfiyatarı]    Script Date: 23.05.2026 03:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_oyunfiyatarı] as select Oyun.oyunid,oyunadi,Oyun.tür,Fiyat.oyun_fiyatı,Fiyat.parabirimi,platform.platform_adi from Fiyat join Oyun on Oyun.oyunid=Fiyat.oyun_id join platform on platform.platform_id=Fiyat.platform_id
GO
/****** Object:  View [dbo].[ana_sayfa]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ana_sayfa] AS Select TOP 5 Oyun.oyunadi, Oyun.incelemepuani,Fiyat.oyun_fiyatı from Oyun join Fiyat on Fiyat.oyun_id=Oyun.oyunid ORDER BY Oyun.incelemepuani Desc
GO
/****** Object:  Table [dbo].[Dil]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dil](
	[dil_adi] [nvarchar](20) NULL,
	[dil_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[kullanıcı_id] [smallint] NULL,
	[eposta] [nvarchar](50) NULL,
	[nick] [nvarchar](50) NULL,
	[şifre] [nvarchar](50) NULL,
	[sepet] [smallint] NULL,
	[oyun_sayisi] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language_Support]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language_Support](
	[oyun_id] [tinyint] NOT NULL,
	[dil_id] [tinyint] NOT NULL,
	[altyazi] [nvarchar](5) NULL,
	[dublaj] [nvarchar](5) NULL,
	[interface] [nvarchar](5) NULL,
 CONSTRAINT [PK_Oyun_Dil] PRIMARY KEY CLUSTERED 
(
	[oyun_id] ASC,
	[dil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[kullanıcı_id] [tinyint] NULL,
	[game_id] [tinyint] NULL,
	[purchase_date] [date] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dil] ON 

INSERT [dbo].[Dil] ([dil_adi], [dil_id]) VALUES (N'English', 1)
INSERT [dbo].[Dil] ([dil_adi], [dil_id]) VALUES (N'German', 2)
INSERT [dbo].[Dil] ([dil_adi], [dil_id]) VALUES (N'French', 3)
SET IDENTITY_INSERT [dbo].[Dil] OFF
GO
INSERT [dbo].[Fiyat] ([platform_id], [platfrom_name], [oyun_fiyatı], [parabirimi], [oyun_id]) VALUES (1, N'Steam', 39.99, N'Dolar', 1)
INSERT [dbo].[Fiyat] ([platform_id], [platfrom_name], [oyun_fiyatı], [parabirimi], [oyun_id]) VALUES (2, N'PlayStation Store', 1499, N'TL', 1)
INSERT [dbo].[Fiyat] ([platform_id], [platfrom_name], [oyun_fiyatı], [parabirimi], [oyun_id]) VALUES (3, N'Xbox Store', 1099, N'TL', 1)
GO
INSERT [dbo].[Kullanıcı] ([kullanıcı_id], [eposta], [nick], [şifre], [sepet], [oyun_sayisi]) VALUES (1, N'kaankeriman@gmail.com', N'KaanKeriman', N'zaxd', NULL, NULL)
GO
INSERT [dbo].[Oyun] ([oyunadi], [oyunid], [kar], [gelistirici_firma], [incelemepuani], [yayinci], [tür], [çıkış_tarihi], [DLC]) VALUES (N'Elden Ring', 1, 2000000000, N'From SoftWare', 100, N'Bandai Namco', N'Souls-Like RPG', CAST(N'2022-02-25' AS Date), N'Shadow Of The Erdtree')
INSERT [dbo].[Oyun] ([oyunadi], [oyunid], [kar], [gelistirici_firma], [incelemepuani], [yayinci], [tür], [çıkış_tarihi], [DLC]) VALUES (N'Resident Evil 2 Remake', 2, 500000000, N'CAPCOM', 94, N'CAPCOM', N'Korku-Gerilim', CAST(N'2019-01-25' AS Date), NULL)
INSERT [dbo].[Oyun] ([oyunadi], [oyunid], [kar], [gelistirici_firma], [incelemepuani], [yayinci], [tür], [çıkış_tarihi], [DLC]) VALUES (N'Hollow Knight', 3, 300000000, N'Team Cherry', 96, N'Team Cherry', N'Souls-Like-Metroidvania', CAST(N'2017-02-24' AS Date), N'Grimm Troupe-Godhome')
GO
INSERT [dbo].[platform] ([platform_id], [platform_adi]) VALUES (1, N'Steam')
INSERT [dbo].[platform] ([platform_id], [platform_adi]) VALUES (2, N'PlayStation Store')
INSERT [dbo].[platform] ([platform_id], [platform_adi]) VALUES (3, N'Xbox Store')
GO
ALTER TABLE [dbo].[Kullanıcı] ADD  DEFAULT ((0)) FOR [oyun_sayisi]
GO
/****** Object:  StoredProcedure [dbo].[OyunArama]    Script Date: 23.05.2026 03:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[OyunArama]
@Aranankelime nvarchar(100)
AS BEGIN
Select Oyun.oyunadi,Oyun.tür,Fiyat.oyun_fiyatı from Oyun join Fiyat on Fiyat.oyun_id=Oyun.oyunid where Oyun.oyunadi like '%'+@Aranankelime+'%'
END
GO
USE [master]
GO
